<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenavOpen = !sidenavOpen">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">Angular material - File input</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="sidenavOpen" class="sidenav">
    <app-side-menu></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <app-file-input></app-file-input>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>