@import "~@angular/material/theming";

.tabs-content {
    padding-top: 15px;

    & > * {
        margin: 20px 0;
    }
}

.card-content {
    padding: 20px;
}

.example-form {
    width: 500px;
    display: flex;
    flex-direction: column;

    & > * {
        margin: 10px 0;
    }
}

.example-code {
    white-space: pre-wrap;
    background-color: #333;
}

.example-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.test-drop {
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mat-elevation-transition;

    &.ash-dragover {
        @include mat-elevation(6);
    }

    &.error-drop {
        color: red;
    }
}